<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatNoir | WebChat</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="shortcut icon" href="/static/assets/favicon_icon.png" type="image/x-icon">

</head>
<body>

    <nav>
        <a href="/">Início</a>
    </nav>

    <img class="logo" src="/static/assets/logo_branca.png" alt="">


    <div class="inicio_foto">
        <img src="/static/assets/foto_inicio.png" width="1000px" alt="">
    </div>
        
    <div class="tudo">

        <div class="texto">
            <h1>Facilitamos a <br> conexão entre</h1>
        </div>

        <div class="clientes">
            <h1>Clientes</h1>
        </div>

        <div class="e">
            <h1>e</h1>
        </div>

        <div class="Fornecedores">
            <h1>Fornecedores.</h1>
        </div>

    </div>
    
    <div class="informacao">
        <h2>Conecte-se agora!</h2>
    </div>
    
    <div class="botoes">
        <a class="cadastro" href="/cadastro">Cadastre-se</a>
        <a class="login" href="/login">Login</a>
    </div>
    
</body>
</html>