<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatNoir | WebChat</title>
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="shortcut icon" href="/static/assets/favicon_icon.png" type="image/x-icon">
</head>
<body>

    <div class="caixa_preta">
        <div class="titulo">
            <h1>LOGIN</h1>
        </div>
            <form method="post">
                <input type="text" name="usuario" placeholder="Digite seu usuário">

                <input type="password" name="senha" placeholder="Digite sua Senha">

                <button type="submit">ENTRAR</button>
            </form>
            
            <p>
                <a class="frase" href="/cadastro">NÃO TEM LOGIN? CADASTRE-SE</a>
            </p>
    </div>

    <div class="olho_fechado">
        <img src="/static/assets/olho_fechado.png" alt="">
    </div>

    <div class="estrela">
        <img src="/static/assets/estrela.png" alt="">
    </div>

    <div class="gato_preto">
        <img src="/static/assets/gato_principal.gif"  width="150px" alt="Descrição do GIF">
    </div>

    <div class="pata">
        <img src="/static/assets/pata.gif" alt="">
    </div>

    <div class="pata_dois">
        <img src="/static/assets/pata.gif" alt="">
    </div>

    <div class="pata_tres">
        <img src="/static/assets/pata.gif" alt="">
    </div>
  

</body>
</html>
