@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orelega+One&display=swap');

:root{
    --fonte-titulo: 'Orelega One';
    --fonte-botao: 'Bree Serif';
    --fonte-frase: 'Open Sans'
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

.gato_preto{
    position: absolute;
    left: 680px;
    top: -155px

}

.tudo{
    background-color: black;
    color: white;
    text-align: center;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin: auto;
    margin-top: 145px;
}

input{
    background-color: black;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    color: white;         
    font-family: var(--fonte-botao);
    margin-top: 50px;
    display: flex;
    margin: 60px;
    padding-inline: 15px;
    margin-bottom: 25px;
}
button{
    background-color: #f9e7b7;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
    font-family: var(--fonte-botao);
    margin-top: 15px;

}
h1{
    font-family: var(--fonte-titulo);
    font-size: 45px;
    padding-top: 25px;

}
a{
    color: #e5e5e5;
    font-family: var(--fonte-frase);
    font-size: 12px;
    text-decoration: none;
}

.gato_braco{
    position: fixed;
    left: 73%;
    top: 64%;
}

.gato_jiji{
    position: fixed;
    top: 0%;
}

@media screen and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .gato_jiji img{
        position: fixed;
        top: 0%;
        z-index: -1;
        width: 150px;
    }

    .gato_braco img{
        position: fixed;
        margin: 0px;
        width: 150px;
        bottom: 0%;
        left: 60%;
    }

    .tudo{
        width: 350px;
        height: 400px;
    }

    input{
        width: 200px;
    }

    button{
        margin-top: -10px;
        width: 120px;
    }

    .gato_preto{
        z-index: 1;
        position: fixed;
        left: 120px;
        top: -120px;
        width: 150px;
    }

}